@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root {
    --verde: #0c443a;
    --limon: #25d1b2;
    --degradado: linear-gradient(90deg,var(--limon),var(--verde));
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    background: linear-gradient();
}

*::selection{
    background: var(--limon);
    color: #ffffff;
}
html{
    font-size: 62.4% ;
    overflow: hidden;
}
body{
    background: #f5f5f5;
}
section{
    min-height: auto;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}
.heading{
    text-align: center;
    background: var(--verde);
    color: transparent !important;
    --webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* estillos header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}
header .logo {
    font-size: 2rem;
    color: var(--verde);
    cursor: pointer;
}
header .logo span{
    color:var(--limon);
}


// navbar 

header .navbar a{
    font-size: 1.8rem;
    color: var(--verde);
    padding: 0 .7rem;
}
header .navbar a:hover{
    color: var(--limon);
}
header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
    visibility:hidden;
    opacity: 0;
}

// section inicio 

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/inicio_fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
   
}
.inicio  .image img{
    width: 40vw;
    animation: float 4s ease-in-out  infinite;

}




@keyframes float {
    0%, 100% {
        transform: translateY(-8rem);
    }
    50%{
        transform: translateY(-3.5rem);

    }
}

.inicio .conten h3 {
        font-size: 5.5rem;
        color: #333;
        text-transform: uppercase;
        
}
.inicio .conten span{
    color: var(--limon);
    text-transform: uppercase;        
}
.inicio .conten p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}
.detalles .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}




// responsive 
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.925);
        padding: 1rem 2rem ;
        border-top: .1rem solid rgb(0, 0, 0,.2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
        transform-origin: top;
        transform: scaleY(0);
        transition: .2s linear;
        opacity: 0;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;
        
    }       
    
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label::before{
    content: '\f00d';

    } 
    .inicio{
        flex-flow: column-reverse;
        .image{
            width: 100%;
            text-align: center;
        }
    }
    .inicio .conten h3{
        font-size: 3.6rem;
    }
    .inicio .conten p{
        font-size: 1.5rem;

    }

}
@media (min-width: 450px){
    html{
        font-size: 49%;
    }
}